<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="all-styles.css">
    <link rel="stylesheet" href="index-styles.css">
    <link rel="stylesheet" href="mark-team-styles.css">
    <link rel="stylesheet" href="gallery-styles.css">
</head>
<body>
    <header>
<div class="right">
    <button onclick="GoToReg()" class="gradient-btn size-btn-lk" style="text-align: right;">Личный кабинет</button>
    <script>
        function GoToReg() {
            window.location.href = "register"
        }
    </script>
    </div>
    </header>
    <main>
        
  <script src="script-gallery.js"></script>
        </div>
        
    </main>
    
</body>
</html>