<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link type="text/css" href="{{ url_for('static', filename='css/all-styles.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/index-styles.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/mark-team-styles.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/gallery-styles.css')}}" rel="stylesheet" />
</head>
<body>
    <header>
<div class="right">
    <button onclick="GoToReg()" class="gradient-btn size-btn-lk" style="text-align: right;">Личный кабинет</button>
    <script>
        function GoToReg() {
            window.location.href = "register"
        }
    </script>
    </div>
    </header>
    <main>
        
  <script src="script-gallery.js"></script>
        </div>
        
    </main>
    
</body>
</html>