.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  min-width: 30%;
}

.closeBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: #ffcc00;
  
}

